a{
    text-decoration: none;
}

 /* unvisited link */
 a:link {
    color: red;
  }
  
  /* visited link */
 a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }


  .border{
      height: 2rem;
      width: 5rem;
      border: solid;
      border-radius: 10%;
      border-color: red;
      border-width: 0.1rem;
  }
  